{% extends 'base.html.twig' %}

{% block title %}Accueil TRT Conseil{% endblock %}

{% block body %}
{#    {{ include('_navbar.html.twig') }}#}

    <div class="container homepage">
        <p class="homepage__description">Favoriser la rencontre des talents</p>
{#        <img class="homepage__img" src="{{ asset('/img/job.jpg') }}" alt="Poignée de mains">#}
    </div>

{#    {{ include('_footer.html.twig') }}#}
{% endblock %}