<nav>
    <div class="navbar-title">
        <a href="{{ path('app_home') }}">TRT Conseil</a>
        {% if app.user %}
            , bonjour {{app.user.firstname}}.
        {% endif %}
    
    </div>

    <div>
        <ul>
            <li>
                <a href="{{ path('app_administrator') }}">Administrateurs</a>
            </li>
            <li>
                <a href="#">Recruteurs</a>
            </li>
            <li>
                <a href="#">Candidats</a>
            </li>
            <li>
                <a href="#">Consultants</a>
            </li>
            {% if app.user %}
                <li class="nav-item">
                    <a href="{{ path('app_logout') }}"><i class="fa-solid fa-right-from-bracket fa-2x" title="Se déconnecter"></i></a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>