{% extends 'base.html.twig' %}

{% block title %}Administrateur{% endblock %}

{% block body %}
{{ include('_navbar.html.twig') }}

<div class="container">
    <h1>Administrateur</h1>

   
</div>
{% endblock %}
