<h1>Liste des candidatures du {{ newsletter_date|date('m Y') }}</h1>

<p class="mb-4">Bonjour, 
<br>
voici la liste des nouvelles candidatures:</p>

{% for candidacy in candidacies %}
<ul>

    <li>
        Le candidat {{ candidacy.candidate.firstname }} a postulé à l'annonce {{ candidacy.jobOffer.jobTitle }}.
        Voir le CV du candidat
    </li>
</ul>
{% endfor %}